.article_image_fixed_width{
	/*probably not going to use this one*/
	background-repeat: no-repeat;
	/*
	width: 400px;
	height: 100%;
	*/
	/*background-size: 400px 100%;*/
	background-position: right;
	overflow: hidden;
}

.article_image_contain{
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	overflow: hidden;
}

.article_image_cover{
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
	width: 100%;
	overflow: hidden;
}

.article_image_100{
	background-repeat: no-repeat;
	background-position: right;
	background-size: 100% 100%;
	overflow: hidden;
}

.article_image_fixed_height{
	
	/*this seems to be our pick*/
	background-repeat: no-repeat;
	height: 260px;
	width: 100%;
	background-position: center; /*position center for narrow mode but could be left or
	right in wider modes*/
	overflow: hidden;
	/*have to decide if we want to use cover (in narrow mode)*/
	/*background-size: cover;*/
}