/*narrow*/
.article_section{
	display: flex;
	flex-direction: column;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: .5em;
	/*todo: decide uf you really want this border*/
	border: 1px solid;
	overflow: hidden;
}

.article_image_container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/*overflow: hidden;*/	
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	
	border: 1px solid;
	/*min-height: 260px; /*seems to be a good setting for med/wide*/*/
	/*min-width: 400px;*/
	/*max-width: 300px; /*use max-width for med/wide and set alignment for that image*/
	/*max-width: 60%;*/
}

.article_image{
	/*default narrow settings for image in article sections*/
	background-repeat: no-repeat;
	height: 260px;
	width: 100%;
	background-position: center; /*position center for narrow mode but could be left or
	right in wider modes*/
	overflow: hidden;
	/*have to decide if we want to use cover (in narrow mode)*/
	/*background-size: cover;*/
}

#trim_image1{
	height: 320px;
	background-size: contain;
	background-image: url(pointofsail_735x690.png);
}

#trim_image2{
	height: 240px;
	background-image: url(assets/trimmer2_400x260.png);
}